{% extends "base.html" %}
{% block content %}

<form action="{{ url_for('core.addEvent') }}" method="post">
    <div>
        <label class="form-label">Module:</label>
        <select class="form-select" name="module" aria-label="Select module">
            {% for module in current_user.modules %}
                <option value="{{ module.id }}">{{ module.name }}</option>
            {% endfor %}
          </select>
    </div>
    <div>
        <label class="form-label">Task:</label>
        <select class="form-select" name="module" aria-label="Select task">
            <option selected value="none">Select a task or Leave Blank</option>
            {% for task in current_user.tasks %}
                <option value="{{ task.id }}">{{ task.name }}</option>
            {% endfor %}
          </select>
    </div>
    <div>
        <label class="form-label">Event Name:</label>
        <input type="text" name="name">
    </div>
    <div>
        <label class="form-label">Event Description:</label>
        <input type="text" name="description">
    </div>
    <div>
        <label class="form-label">Event Date:</label>
        <input type="date" name="date" value="{{due_date}}" required>
    </div>
    <div>
        <label class="form-label">Event Time:</label>
        <input type="time" name="time" value="{{ due_time }}" required>
    </div>
    <div>
        <input type="submit" value="Add Event" class="btn btn-success ms-5">
    </div>
</form>

{% endblock %}