{% extends "base.html" %}
{% block content %}
<style>
    .form-switch {
  display: flex;
  flex-direction: row-reverse;
}

.form-switch label {
 margin-right: 50px !important;
}
</style>

<div class="container-sm text-center mt-5">
    <div class="container-sm m-auto">
        <div class="border border-2 rounded-2 border-dark">
            <div class="row">
                <div class="col">
                    <h1 class="text-center display-2 mt-5">Add a Task</h1>
                    <p class="text-center">Enter the details for your new task</p>
                    <form class="" action="{{ url_for('core.addTask', module_id=module_id)}}" method="post">
                        <div class="row mb-3 d-flex align-items-center justify-content-center">
                            <label class="col-sm-4 col-form-label" for="module">Module:</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="module"  type="text" name="module" value="{{ module.name }}" disabled>
                            </div>
                        </div>
                        <div class="row mb-3 d-flex align-items-center justify-content-center">
                            <label class="col-sm-4 col-form-label" for="name">Task Name:</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="name"  type="text" name="taskName" required>
                            </div>
                        </div>
                        <div class="row mb-3 d-flex align-items-center justify-content-center">
                            <label class="col-sm-4 col-form-label" for="description">Description:</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" rows="3" id="description"  type="text" name="taskDescription" maxlength="256" required></textarea>
                            </div>
                        </div>
                        <div class="row mb-3 d-flex align-items-center justify-content-center">
                            <label class="col-sm-4 col-form-label" for="date">Due Date:</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="date"  type="date" name="taskDueDate" required>
                            </div>
                        </div>
                        <div class="row mb-3 d-flex align-items-center justify-content-center">
                            <label class="col-sm-4 col-form-label" for="time">Due Time:</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="time"  type="time" name="taskDueTime" required>
                            </div>
                        </div class="row mb-3 d-flex align-items-center justify-content-center">

                        <div class="row mb-3 d-flex align-items-center justify-content-center">
                            <label class="col-sm-4 col-form-label" for="addToCalendar">Link Event to Calendar</label>
                            <div class="col-sm-6 form-check form-switch">
                                <input class="form-check-input mx-auto" type="checkbox" role="switch" id="addToCalendar" name="addToCalendarCheck" checked>
                            </div>
                        </div>

                        <div class="mb-2">
                            <a href="{{ url_for('core.tasksPage') }}" class="btn btn-danger">Cancel</a>
                            <input type="submit" value="Save" class="btn btn-success">
                        </div>
                    </form>
                </div>
                <div class="col d-none d-lg-flex">
                    <img class="p-4 img-fluid bg-success border-start border-2 border-dark" src="{{ url_for('static', filename='completed_tasks.svg') }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- <div class="row mb-3 d-flex align-items-center justify-content-center">
    <div class="form-check form-switch">
        <input class="form-check-input me-auto" type="checkbox" role="switch" id="addToCalendar" checked>
        <label class="form-check-label ms-auto" for="addToCalendar">Default switch checkbox input</label>
    </div>
</div> -->