{% extends "base.html" %}
{% block content %}

<form action="{{ url_for('core.addTask', module_id=module_id)}}" method="post">
    <div>
        <p>Module:</p>
        <input type="text" name="module" value="{{ module.name }}" disabled>
    </div>
    <div>
        <p>Task Name:</p>
        <input type="text" name="taskName" required>
    </div>
    <div>
        <p>Task Description:</p>
        <input type="text" name="taskDescription" maxlength="256" required>
    </div>
    <div>
        <p>Task Due Date:</p>
        <input type="date" name="taskDueDate" required>
    </div>
    <div>
        <p>Task Due Date:</p>
        <input type="time" name="taskDueTime" required>
    </div>
    <div>
        <a href="{{ url_for('core.tasksPage') }}" class="btn btn-danger">Cancel</a>
        <input type="submit" value="Save" class="btn btn-success">
    </div>
</form>
{% endblock %}