{% extends "base.html" %}
{% block content %}
<style>
    #eventLink {
        text-decoration: none;
    }
</style>

<div class="container-fluid vw-100">
    <div class="row">
        <div class="col-8">
            <h1>{{current_user.username}}'s Calendar</h1>
        </div>
        <div class="col-4 text-center">
            <div class="row mt-1">
                <div class="col-3">
                    <p>Last Year</p>
                </div>
                <div class="col-6 mt-auto">
                    <p>Month</p>
                </div>
                <div class="col-3">
                    <p>Next Year</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-8 ">
            <h3 class="text-start">{{ month_name }}</h3>
        </div>
        <div class="col-4">
            
            <div class="row">
                <div class="col-3">
                    <p><<</p>
                </div>
                <div class="col-3">
                    <p><</p>
                </div>
                <div class="col-3">
                    <p>></p>
                </div>
                <div class="col-3">
                    <p>>></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center table-responsive">
    <table class="vw-100 table table-bordered">
        <thead>
            <tr class="d-flex">
                <th class="col-sm">Mon</th>
                <th class="col-sm">Tue</th>
                <th class="col-sm">Wed</th>
                <th class="col-sm">Thu</th>
                <th class="col-sm">Fri</th>
                <th class="col-sm">Sat</th>
                <th class="col-sm">Sun</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for week in month %}
            <tr class="d-flex">
                {% for day in week %}
                    <td class="col-sm {% if day[0] == day_date %} table-active {% endif %} {% if day[1] != current_month %} table-dark {% endif %}">
                        <p>{{ day[0] }}</p>
                        {% for event in day[2] %}
                            <div class="mb-1" style="background-color: {{ event[1] }};">
                                <a href="{{ url_for('core.editEvent', event_id=event[0].id, author=event[0].user) }}" class="{% if event[2] > 0.5 %} text-dark {% else %} text-light {% endif %} mb-1" id="eventLink">{{ event[0].name }}</a>

                            </div>
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <table class="vw-100 table table-bordered fixed-table-body">
        <thead>
            <tr>
                <th>Today's Events</th>
                <th class="text-center">Due at</th>
                <th class="text-end"><a href="{{ url_for('core.addEvent')}}" class="btn btn-success me-1">Add Event</a></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for event in todaysEvents %}
            <tr>
                <td>{{ event.name }}</td>
                <td class="text-center">{{ event.due_date | date_filter }}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>


{% endblock %}