{% extends "base.html" %}
{% block content %}

<div class="container-sm text-center mt-5">
    <div class="container-sm m-auto">
        <div class="border border-2 rounded-2 border-dark">
            <div class="row">
                <div class="col">
                    <h1 class="text-center display-2 mt-5">Welcome to Study Planner!</h1>
                    <h4 class="text-center mt-2">The all in one web app to plan your studying sessions</h4>
                    <h5 class="mt-2 ms-5 text-start">Features:</h5>
                    <ul class="text-start ms-5">
                        <li class="mt-1">Create modules to group tasks into</li>
                        <li style="margin-left: 20px;">You can give them a custom name and colour</li>
                        <li class="mt-1">Create your tasks for each module</li>
                        <li style="margin-left: 20px;">They can be automatically added to your calendar for you</li>
                        <li class="mt-1">View your calendar and be shown your events with a daily summary</li>
                        <li style="margin-left: 20px;">Your custom events can also be added to the calendar</li>
                    </ul>
                    <div class="d-lg-none">
                        <img class="p-4 img-fluid bg-success" src="{{ url_for('static', filename='date_picker.svg') }}" alt="">
                    </div>
                </div>
                <div class="col d-none d-lg-flex">
                    <img class="p-4 img-fluid bg-success border-start border-2 border-dark" src="{{ url_for('static', filename='date_picker.svg') }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}