{% extends "base.html" %}
{% block content %}

<div class="modal fade" id="addModuleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add a Module</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>This module will contain tasks and events</p>
            <form id="addModuleForm" action="{{ url_for('core.modulesPage') }}" method="post">
                <div class="row mb-3 d-flex align-items-center justify-content-center">
                    <label class="col-sm-4 col-form-label">Module Name:</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="moduleName" placeholder="Module Name" required>
                    </div>
                </div>
                <div class="row mb-3 d-flex align-items-center justify-content-center">
                    <label class="col-sm-4 col-form-label">Module Colour:</label>
                    <div class="col-sm-6">
                        <input class="form-control form-control-color" type="color" name="moduleColour" required>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <input class="btn btn-success" type="submit" value="Add Module" form="addModuleForm">
        </div>
      </div>
    </div>
</div> 

<table class="vw-100 table fixed-table-body mt-2">
    <thead>
        <tr>
            <th style="width: 75%;">Modules</th>
            <th>Options</th>
            <th class="text-end">
                <div class="d-none d-md-block">
                    <button type="button" class="btn btn-sm btn-success me-2" data-bs-toggle="modal" data-bs-target="#addModuleModal">
                        Add a Module
                    </button>
                </div>
                <div class="d-md-none">
                    <button type="button" class="btn btn-sm btn-success me-2" data-bs-toggle="modal" data-bs-target="#addModuleModal">
                        <i class="bi bi-plus-lg"></i>
                      </button>
                </div>
            </th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for module in modules %}
        <tr>
            <td>{{ module.name}}</td>
            <td colspan="2">
                <div class="d-lg-none d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-primary mx-1" href="{{ url_for('core.tasksPage')}}">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a class="btn btn-outline-success mx-1" href="{{ url_for('core.editModule', id=module.id) }}">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a class="btn btn-outline-danger mx-1" href="{{ url_for('core.deleteModule', id=module.id) }}">
                        <i class="bi bi-trash"></i>
                    </a>
                </div>
                <div class="d-none d-lg-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-primary mx-1" href="{{ url_for('core.tasksPage')}}">
                        Tasks
                    </a>
                    <a class="btn btn-outline-success mx-1" href="{{ url_for('core.editModule', id=module.id) }}">
                        Edit
                    </a>
                    <a class="btn btn-outline-danger mx-1" href="{{ url_for('core.deleteModule', id=module.id) }}">
                        Delete
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}


<!-- <div class="row">
    <form class="mb-2" action="{{ url_for('core.modulesPage') }}" method="post">
        <div>
            <input class="mb-2" type="text" name="name" placeholder="Module Name">
        </div>
        <div>
            <input class="btn btn-primary mb-2" type="submit" value="Add Module">
        </div>
    </form>
</div> -->

<!-- <div class="container text-center mt-5 vw-100">
    <div class="row mb-5">
        <h1 class="display-2">Manage your Modules here</h1>
    </div>
    <div class="row">
        <table class="vw-100 table table-bordered fixed-table-body">
            <tr>
                <th>Modules</th>
                <th>View Tasks</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tbody class="table-group-divider"></tbody>
        </table>
    </div>
</div> -->

<!-- <td>
    <button class="btn btn-outline-primary">
        Tasks
    </button>
    <button class="btn btn-outline-success">
        Edit
    </button>
    <button class="btn btn-outline-danger">
        Delete
    </button>
</td> -->