{% extends "base.html" %}
{% block content %}

<table class="vw-100 table fixed-table-body mt-2">
    <thead>
        <tr>
            <th style="width: 75%;">Modules</th>
            <th colspan="2" class="text-center">Options</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for module in modules %}
            <tr>
                <th colspan="2">{{ module.name}}</th>
                <th class="text-end">
                    <div class="d-none d-md-block">
                        <a href="{{ url_for('core.addTask', module_id=module.id ) }}" type="button" class="btn btn-sm btn-success me-2">
                            Add a Task
                        </a>
                    </div>
                    <div class="d-md-none">
                        <a href="{{ url_for('core.addTask', module_id=module.id ) }}" type="button" class="btn btn-sm btn-success me-2">
                            <i class="bi bi-plus-lg"></i>
                        </a>
                    </div>
                </th>
            </tr>
            {% for task in module.tasks %}
            <tr>
                <td class="ps-5"><strong>Task:</strong> {{ task.name }} <br> <strong>Description:</strong> {{ task.description }} <br> <strong>Due:</strong> {{ task.due_date | time_filter }} at {{ task.due_date | date_filter }}</td>
                <td colspan="2">
                    <div class="d-lg-none d-flex align-items-center justify-content-center">
                        <a href="#" class="btn btn-outline-primary mx-1">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a class="btn btn-outline-success mx-1" href="{{ url_for('core.editTask', id=task.id, author=task.user) }}">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a class="btn btn-outline-danger mx-1" href="{{ url_for('core.deleteTask', id=task.id, author=task.user) }}">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                    <div class="d-none d-lg-flex align-items-center justify-content-center">
                        <a href="#" class="btn btn-outline-primary mx-1">
                            View
                        </a>
                        <a class="btn btn-outline-success mx-1" href="{{ url_for('core.editTask', id=task.id, author=task.user) }}">
                            Edit
                        </a>
                        <a class="btn btn-outline-danger mx-1" href="{{ url_for('core.deleteTask', id=task.id, author=task.user) }}">
                            Delete
                        </a>
                    </div>

                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}